[submodule "project/submodules/End-to-End-QA-GenAI-Project"]
	path = project/submodules/End-to-End-QA-GenAI-Project
	url = https://github.com/shaheennabi/End-to-End-QA-GenAI-Project.git
[submodule "End-to-End-QA-GenAI-Project"]
	path = End-to-End-QA-GenAI-Project
	url = https://github.com/shaheennabi/End-to-End-QA-GenAI-Project.git
[submodule "Multi-lingual-AI-Assistant-with-gTTS-and-Gemini-Pro"]
	path = Multi-lingual-AI-Assistant-with-gTTS-and-Gemini-Pro
	url = https://github.com/shaheennabi/Multi-lingual-AI-Assistant-with-gTTS-and-Gemini-Pro.git
[submodule "Untold-LangGraph"]
	path = Untold-LangGraph
	url = https://github.com/shaheennabi/Untold-LangGraph.git
[submodule "Production-Ready-LeafLogic-Multi-AI-Agents-Project"]
	path = Production-Ready-LeafLogic-Multi-AI-Agents-Project
	url = https://github.com/shaheennabi/Production-Ready-LeafLogic-Multi-AI-Agents-Project
